/* * {
  padding: 0;
  margin: 0;
  font-size: 16px;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
 */

/* 
.navy {
  background-color: rgb(0, 107, 139);
}
nav a {
  font-size: 1.5rem;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.nav-input {
  font-size: 1rem;
  border-radius: 10px;
  padding: 10px;
  border: none;
  margin: 0 5px 0 360px;
  outline: none;
}

.nav-ul {
  display: flex;
  flex-direction: row;
  margin: auto;
}

.btn-nav {
  font-size: 1rem;
  border-radius: 10px;
  padding: 10px;
  border: none;
}

.btn-nav:hover {
  border-radius: 10px;
  padding: 10px;
  border: none;
  background-color: rgb(199, 199, 199);
  cursor: pointer;
} */
