:root {
  --fondo--pag-web: #f3f3f4;
  --azul: #becfda;
  --gris: #96a4b7;
  --azul-marino: #2b4070;
}

.header-wrapper {
  display: flex;
  align-items: left;
  justify-content: left;
  padding: 10px;
}

.banneruptb {
  display: flex;
  justify-content: left;
  align-items: left;
}

.logo-uni {
  width: 48px;
  height: auto;
}

.centered-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.tittl-1 {
  font-size: 24px;
  font-weight: bold;
  color: #267da5;
}

.centere-title {
  display: flex;
  justify-content: left;
  align-items: left;
  width: 100%;
  text-align: left;
  margin-bottom: 10px;
  margin-left: 20px;
}

.tittle-1 {
  font-size: 32px;
  font-weight: bold;
  color: #267da5;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.image-container img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.justi-texto {
  text-align: justify;
  font-size: 18px;
  line-height: 1.6;
  padding-left: 15px;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
}

footer {
  background-color: #164e68;
  color: #ffffff;
  padding: 20px 0;
}

footer .container-fluid {
  padding: 0 15px;
}

footer .row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 40px;
}

footer .col-sm-12,
footer .col-12 {
  text-align: right;
  font-weight: bold;
  font-size: 20px;
}

footer b {
  font-size: 20px;
}

.button-gap {
  margin-right: 10px;
}

.button-gap {
  margin-right: 20rem; /* Margen derecho para separar los botones */
}

.button-gap + .form-group {
  margin-left: 20rem; /* Margen izquierdo para separar los botones */
}

.contenedor {
  margin-bottom: 40px;
  border-radius: 10px; /* Bordes redondeados */
  background-color: #c5dee3; /* Fondo gris */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
  padding: 20px; /* Espaciado interno */
}

div.margen {
  margin-bottom: 10px;
}

.containered {
  border-radius: 10px;
  background-color: #f2f2f2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.carousel-wrapper {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

.card {
  flex: 0 0 auto;
  width: 200px;
  margin-right: 20px;
  scroll-snap-align: start;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.card a {
  display: block; /* Asegura que el enlace ocupe todo el espacio de la tarjeta */
  text-decoration: none; /* Quita el subrayado del enlace */
  color: inherit; /* Hereda el color del texto */
}
