<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/frontend/aseets/css/index.css" />
    <link rel="stylesheet" href="/frontend/aseets/css/table.css" />
    <title>S.I</title>
  </head>
  <body>
    
<!-- menu-navbar-header -->
 <div class="menu">
        <ion-icon name="menu-outline"> <img src="/frontend/aseets/icons/list.svg" alt=""></ion-icon>
        <ion-icon name="close-outline"> <img src="/frontend/aseets/icons/x.svg" alt=""></ion-icon>
    </div>
    <div class="barra-lateral">
        <div> 
          
            <div class="nombre-pagina">
              <ion-icon id="cloud" name="cloud-outline">
                <img id="log-gob" class="img-log" src="/frontend/aseets/img/logo-round.jpg" />
              </ion-icon>
              <span class="nombre">Sistema de Incidencias</span>
            </div>
  
        </div>

        <nav class="navegacion">
           <ul>
          <li>
            <a id="inbox" href="#">
              <ion-icon name="mail-unread-outline">
                <img
                  class="ico-center"
                  src="/frontend/aseets/icons/house.svg"
                />
              </ion-icon>
              <span>Pagina principal</span>
            </a>
          </li>

          <li>
            <a class="user" href="#">
              <ion-icon name="star-outline">
                <img
                  class="ico-center"
                  src="/frontend/aseets/icons/person.svg"
                />
              </ion-icon>
              <span >Usuarios</span>
            </a>
          </li>
          
          <li>
            <a  class="user" href="#">
              <ion-icon name="paper-plane-outline">
                <img
                  class="ico-center"
                  src="/frontend/aseets/icons/chat.svg"
                />
              </ion-icon>
              <span>Chat</span>
            </a>
          </li>

          <li>
            <a href="#">
              <ion-icon name="paper-plane-outline">
                <img
                  class="ico-center"
                  src="/frontend/aseets/icons/gear.svg"
                />
              </ion-icon>
              <span>Configuracion</span>
            </a>
          </li>





          <li>
            <a href="#">
              <ion-icon name="document-text-outline">
                <img
                  class="icons-menu ico-center"
                  src="/frontend/aseets/icons/file-lock2.svg"
                />
              </ion-icon>
              <span>Cerrar sesion</span>
            </a>
          </li>
        </ul>
        </nav>

        <div>
            <div class="linea"></div>

            <div class="modo-oscuro">
                <div class="info">
                     <img class="ico ico-center" src="/frontend/aseets/icons/bx-moon.svg" />
                    </ion-icon> <span class="dark-text">Modo oscuro</span> </ion-icon>
                </div>
                <div class="switch">
                    <div class="base">
                        <div class="circulo">
                            
                        </div>
                    </div>
                </div>
            </div>
    
        </div>

    </div>
<!-- menu-navbar-header -->





<!-- main -->
     
<div class="table-pos">
  <div class="margenes">
    <section class="form-resp">

       <div class="card-body">

       <div class="form-add-header">   
        <h3 class="tittle-form">Agregar incidencia</h3> 
       </div>
        <hr>
          <form class="form-add">

            <div class="card-add">
              <label for="" class="form-label">Titulo</label>
              <input
                type="text"
                class="input-add"
                id="titulo"
                placeholder="Escribe el titulo"
              />
            </div>

            <div class="card-add">
              <label for="" class="form-label">Estado</label>
              <select class="select-add">
                <option>Selecciona el estado...</option>
                <option>Sin resolver</option>
                <option>En Curso</option>
                <option>Resuelto</option>
              </select>
            </div>

            <div class="card-add">
              <label for="" class="form-label"
                >Fecha de modificacion</label
              >
              <input type="date" class="date-add"  />
            </div>

            <div class="card-add">
              <label for="" class="form-label">Prioridad</label>
              <select class="select-add">
                <option selected>Selecciona el nivel de prioridad...</option>
                <option>Urgente</option>
                <option>Media</option>
                <option>Baja</option>
              </select>
            </div>

            <div class="card-add">
              <label for="" class="form-label">Solicitante</label>
              <input
                type="text"
                class="input-add"
                placeholder="Escriba el nombre del solicitante"
              />
            </div>

            <div class="card-add">
              <label for="" class="form-label">Asignado a - Grupo Tecnico</label
              >
              <select class="select-add">
                <option selected>Seleccionar...</option>
                <option>...</option>
                <option>...</option>
                <option>...</option>
              </select>
            </div>

            <div class="card-add">
              <label for="" class="form-label"
                >Asignado a - Tecnico</label>
              <input type="text" placeholder="Nombre del tecnico" class="input-add"  />
            </div>

       
            <div class="card-add">
              <label for="" class="form-label">Categoria</label>
              <select  class="select-add">
                <option selected>Seleccionar...</option>
                <option>...</option>
                <option>...</option>
                <option>...</option>
              </select>
            </div>

            <div class="button-add">
              <button type="submit" class="btn-add btn-good">Guardar</button>
              <button type="submit" class="btn-add btn-bad">Cancelar</button>
            </div>
          </form>
        </div>
    


  </section>
 </div>
<!-- main -->
    <main class="table" id="incident_table">
        <section class="table__header">
            <h1>Lista de Incidencias</h1>
           
            <div class="input-group">
                <input type="search" placeholder="Buscar...">
                <img src="/frontend/aseets/icons/bx-search-alt-2.svg" alt="">
            </div>

            <div class="export__file">
                <label for="export-file" class="export__file-btn" title="Export File"> 
                 
                </label>
                <input type="checkbox" id="export-file">
                <div class="export__file-options">
                    <label>Exportar &nbsp; &#10140;</label>
                    <label for="export-file" id="toPDF">PDF <img src="/frontend/aseets/icons/file-earmark-pdf.svg"     alt=""></label>
                    <label for="export-file" id="toJSON">JSON <img src="/frontend/aseets/icons/filetype-json.svg" alt=""></label>
                    <label for="export-file" id="toCSV">CSV <img class="ico-csv" src="/frontend/aseets/icons/filetype-csv.svg" alt=""></label>
                    <label for="export-file" id="toEXCEL">EXCEL <img src="/frontend/aseets/icons/file-earmark-excel.svg" alt=""></label>
                </div>
            </div>
        </section>
 <div class="linea2"></div>

        <section class="table__body">
            <table>
                <thead>
                    <tr>
                        <th>Id <span class="icon-arrow">&UpArrow;</span></th>
                        <th>Titulo<span class="icon-arrow">&UpArrow;</span></th>
                        <th>Estado<span class="icon-arrow">&UpArrow;</span></th>
                        <th>Modificacion <span class="icon-arrow">&UpArrow;</span></th>
                        <th> Prioridad <span class="icon-arrow">&UpArrow;</span></th>
                        <th>Solicitante <span class="icon-arrow">&UpArrow;</span></th>
                        <th>Tecnico<span class="icon-arrow">&UpArrow;</span></th>
                        <th>Grupo Tecnico <span class="icon-arrow">&UpArrow;</span></th>
                        <th>Categoria<span class="icon-arrow">&UpArrow;</span></th>
                        <th>Acciones<span class="icon-arrow">&UpArrow;</span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> 1 </td>
                        <td> Problemas en la red</td>
                        <td> <p class="status resuelto">Resuelto</p> </td>
                        <td> 17 Dec, 2022 </td>
                        <td> Alta</td>
                        <td> Maria </td>
                        <td> Gabriela</td>
                        <td> Gabriela - Paula</td>
                        <td>
                            Redes y sistema
                        </td>
                        <td> <strong>
                           <img  src="/frontend/aseets/icons/x.svg" alt="">
                           <img src="/frontend/aseets/icons/pencil-fill.svg" alt="">
                        </strong> </td>
                    </tr>

                    <tr>
                        <td> 2 </td>
                        <td> Problemas en la red</td>
                        <td>  <p class="status pendiente">Pendiente</p> </td>
                        <td> 17 Dec, 2022 </td>
                        <td> Alta</td>
                        <td> Maria </td>
                        <td> Gabriela</td>
                        <td> Gabriela - Paula</td>
                        <td>
                            Redes y sistema
                        </td>
                        <td> <strong>
                           <img src="/frontend/aseets/icons/x.svg" alt="">
                           <img src="/frontend/aseets/icons/pencil-fill.svg" alt="">
                        </strong> </td>
                    </tr>



                    <tr>
                        <td> 3</td>
                        <td>Problemas en la red</td>
                        <td>
                            <p class="status curso">En curso</p>
                        </td>
                           <td> 17 Dec, 2022 </td>
                        <td> Alta</td>
                        <td> Maria </td>
                        <td> Gabriela</td>
                        <td> Gabriela - Paula</td>
                        <td>
                            Redes y sistema
                        </td>
                        <td> <strong>
                           <img src="/frontend/aseets/icons/x.svg" alt="">
                           <img src="/frontend/aseets/icons/pencil-fill.svg" alt="">
                        </strong> </td>
                    </tr>

                    <tr>
                        <td> 4</td>
                        <td>Problemas en la red</td>
                        <td>
                            <p class="status anulado">Anulado</p>
                        </td>
                           <td> 17 Dec, 2022 </td>
                        <td> Alta</td>
                        <td> Maria </td>
                        <td> Gabriela</td>
                        <td> Gabriela - Paula</td>
                        <td>
                            Redes y sistema
                        </td>
                        <td> <strong>
                           <img src="/frontend/aseets/icons/x.svg" alt="">
                           <img src="/frontend/aseets/icons/pencil-fill.svg" alt="">
                        </strong> </td>
                    </tr>
 <tr>
                        <td> 5 </td>
                        <td> Problemas en la red</td>
                        <td> <p class="status resuelto">Resuelto</p> </td>
                        <td> 17 Dec, 2022 </td>
                        <td> Alta</td>
                        <td> Maria </td>
                        <td> Gabriela</td>
                        <td> Gabriela - Paula</td>
                        <td>
                            Redes y sistema
                        </td>
                        <td> <strong>
                           <img src="/frontend/aseets/icons/x.svg" alt="">
                           <img src="/frontend/aseets/icons/pencil-fill.svg" alt="">
                        </strong> </td>
                    </tr>

                    <tr>
                        <td> 6 </td>
                        <td> Problemas en la red</td>
                        <td>  <p class="status pendiente">Pendiente</p> </td>
                        <td> 17 Dec, 2022 </td>
                        <td> Alta</td>
                        <td> Maria </td>
                        <td> Gabriela</td>
                        <td> Gabriela - Paula</td>
                        <td>
                            Redes y sistema
                        </td>
                        <td> <strong>
                           <img src="/frontend/aseets/icons/x.svg" alt="">
                           <img src="/frontend/aseets/icons/pencil-fill.svg" alt="">
                        </strong> </td>
                    </tr>



                    <tr>
                        <td> 7</td>
                        <td>Problemas en la red</td>
                        <td>
                            <p class="status curso">En curso</p>
                        </td>
                           <td> 17 Dec, 2022 </td>
                        <td> Alta</td>
                        <td> Maria </td>
                        <td> Gabriela</td>
                        <td> Gabriela - Paula</td>
                        <td>
                            Redes y sistema
                        </td>
                        <td> <strong>
                           <img src="/frontend/aseets/icons/x.svg" alt="">
                           <img src="/frontend/aseets/icons/pencil-fill.svg" alt="">
                        </strong> </td>
                    </tr>

                    <tr>
                        <td> 8</td>
                        <td>Problemas en la red</td>
                        <td>
                            <p class="status anulado">Anulado</p>
                        </td>
                           <td> 17 Dec, 2022 </td>
                        <td> Alta</td>
                        <td> Maria </td>
                        <td> Gabriela</td>
                        <td> Gabriela - Paula</td>
                        <td>
                            Redes y sistema
                        </td>
                        <td> <strong>
                           <img src="/frontend/aseets/icons/x.svg" alt="">
                           <img src="/frontend/aseets/icons/pencil-fill.svg" alt="">
                        </strong> </td>
                    </tr>
 <tr>
                        <td> 9 </td>
                        <td> Problemas en la red</td>
                        <td> <p class="status resuelto">Resuelto</p> </td>
                        <td> 17 Dec, 2022 </td>
                        <td> Alta</td>
                        <td> Maria </td>
                        <td> Gabriela</td>
                        <td> Gabriela - Paula</td>
                        <td>
                            Redes y sistema
                        </td>
                        <td> <strong>
                           <img src="/frontend/aseets/icons/x.svg" alt="">
                           <img src="/frontend/aseets/icons/pencil-fill.svg" alt="">
                        </strong> </td>
                    </tr>

                    <tr>
                        <td> 10 </td>
                        <td> Problemas en la red</td>
                        <td>  <p class="status pendiente">Pendiente</p> </td>
                        <td> 17 Dec, 2022 </td>
                        <td> Alta</td>
                        <td> Maria </td>
                        <td> Gabriela</td>
                        <td> Gabriela - Paula</td>
                        <td>
                            Redes y sistema
                        </td>
                        <td> <strong>
                           <img src="/frontend/aseets/icons/x.svg" alt="">
                           <img src="/frontend/aseets/icons/pencil-fill.svg" alt="">
                        </strong> </td>
                    </tr>



                    <tr>
                        <td> 11</td>
                        <td>Problemas en la red</td>
                        <td>
                            <p class="status curso">En curso</p>
                        </td>
                           <td> 17 Dec, 2022 </td>
                        <td> Alta</td>
                        <td> Maria </td>
                        <td> Gabriela</td>
                        <td> Gabriela - Paula</td>
                        <td>
                            Redes y sistema
                        </td>
                        <td> <strong>
                           <img src="/frontend/aseets/icons/x.svg" alt="">
                           <img src="/frontend/aseets/icons/pencil-fill.svg" alt="">
                        </strong> </td>
                    </tr>

                    <tr>
                        <td> 12</td>
                        <td>Problemas en la red</td>
                        <td>
                            <p class="status anulado">Anulado</p>
                        </td>
                           <td> 17 Dec, 2022 </td>
                        <td> Alta</td>
                        <td> Maria </td>
                        <td> Gabriela</td>
                        <td> Gabriela - Paula</td>
                        <td>
                            Redes y sistema
                        </td>
                        <td> <strong>
                           <img src="/frontend/aseets/icons/x.svg" alt="">
                           <img src="/frontend/aseets/icons/pencil-fill.svg" alt="">
                        </strong> </td>
                    </tr>
                </tbody>
            </table>
        </section>
   
    </main> 
 </div>
<!-- main -->

    <footer>       
      <!-- scripts -->
      <script src="/frontend/aseets/js/index.js"></script>
    </footer>

</div>    
  </body>
</html>
