<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="../aseets/img/logo-gob2.png" />
    <link rel="stylesheet" href="../aseets/css/login-signup.css" />

    <title>Login and sign up</title>
  </head>

  <body>
    <div class="container">
      <div id="register" class="container-form register">
        <div class="information">
          <div class="info-childs">
            <img class="icono" src="../aseets/img/logo-round.jpg" alt="" />
            <h2>Bienvenido al Sistema de incidencias</h2>
            <p>Para ingresar inicie sesion con su correo y contraseña</p>
            <input
              class="btn-login"
              id="sign-in"
              type="button"
              value="iniciar sesion"
            />
          </div>
        </div>
        <div class="form-information">
          <div class="form-information-childs">
            <h2>Crear una cuenta</h2>
            <div class="icons">
              <form class="form">
                <label for>
                  <img src="../aseets/icons/person-check.svg" />
                  <input
                    type="text"
                    placeholder="Nombre Completo"
                    id="register"
                  />
                </label>

                <label for>
                  <img src="../aseets/icons/bx-user.svg" />
                  <input
                    type="text"
                    placeholder="Usuario"
                    name="username"
                    required
                  />
                </label>
                <label for>
                  <img src="../aseets/icons/bx-envelope.svg" />
                  <input type="email" placeholder="Email" id="email" />
                </label>

                <label for>
                  <img src="../aseets/icons/bx-lock-alt.svg" />
                  <input
                    type="password"
                    placeholder="Escribe tu contraseña"
                    id="password-reg"
                  />
                </label>
                <input class="btn-login" type="submit" value="Registrarse" />
              </form>
            </div>
          </div>
        </div>
      </div>

      <div id="login" class="container-form login hide">
        <div class="information">
          <div class="info-childs">
            <img class="icono" src="../aseets/img/logo-round.jpg" alt="" />
            <h2>Bienvenido de nuevo al Sistema de incidencias</h2>
            <p>Si no tienes una cuenta puedes registrarte</p>
            <input
              class="btn-login"
              id="sign-up"
              type="button"
              value="Registrarse"
            />
          </div>
        </div>
        <div class="form-information">
          <div class="form-information-childs">
            <h2>Iniciar sesion</h2>
            <div class="icons">
              <form id="loginFom" class="form">
                <label for>
                  <img src="../aseets/icons/bx-user.svg" />
                  <input
                    type="text"
                    placeholder="Usuario"
                    name="username"
                    id="login"
                    required
                  />
                </label>

                <label for>
                  <img src="../aseets/icons/bx-lock-alt.svg" />
                  <input
                    type="password"
                    placeholder="Escribe tu contraseña"
                    name="password"
                    id="password-log"
                    required
                  />
                </label>
                <input class="btn-login" type="submit" value="Iniciar sesion" />
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="../aseets/js/login-signup.js"></script>
    <!-- <script type="module" src="./handlers/login.handlers.js"></script>
    <script type="module" src="./controllers/login.controller.js"></script>
    <script type="module" src="./services/login.services.js"></script> -->
  </body>
</html>
