<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/frontend/aseets/css/modal.css" />
    <title>Document</title>
  </head>
  <body>
    <section>
      <button class="show-modal">modal</button>
      <span class="overlay"></span>

      <div class="modal-box">
        <img src="/frontend/aseets/icons/check_mark.png" alt="" />
        <h2>Terminado</h2>
        <h3>Ha completado con exito el registro.</h3>
        <button class="close-btn">Cancelar</button>
        <button>Aceptar</button>
      </div>
    </section>
  </body>
  <script src="/frontend/aseets/js/modal.js"></script>
</html>
