/* Tabla------------------- */
@media print {
  .table,
  .table__body {
    overflow: visible;
    height: auto !important;
    width: auto !important;
  }
}

div.table {
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 16%;
  margin-right: auto;
  width: 80vw;
  height: 65vh;
  background-color: var(--color-barra-lateral);
  backdrop-filter: blur(7px);
  box-shadow: 0 0.4rem 0.8rem #0005;
  border-radius: 0.8rem;
  overflow: hidden;
}

.table__header {
  font-weight: 500;
  width: 100%;
  height: 20%;
  background-color: var(--color-barra-lateral);
  margin: 1rem 1rem;
  padding: 1rem 1rem;
  color: var(--color-texto);
  border-radius: 0.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table__header .input-group {
  width: 30%;
  height: 100%;
  background-color: var(--color-cebra);
  padding: 0 0.8rem;

  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: 0.2s;
}

.table__header .input-group:hover {
  width: 35%;
  background-color: var(--color-input-add);
  box-shadow: 0 0.1rem 0.4rem #0002;
}

.table__header .input-group img {
  width: 1.2rem;
  height: 1.2rem;
}

.table__header .input-group input {
  width: 100%;
  padding: 0 0.5rem 0 0.3rem;
  background-color: transparent;
  border: none;
  outline: none;
}

.table__body {
  width: 100%;
  max-height: calc(89% - 1.6rem);
  background-color: #fffb;
  color: var(--color-texto);
  margin: 0.8rem auto;
  border-radius: 0.6rem;
  overflow: auto;
  overflow: overlay;
}

.table__body::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

.table__body::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: var(--color-scroll);
  visibility: hidden;
}

.table__body:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

table {
  width: 100%;
}

table,
th,
td {
  border-collapse: collapse;
  padding: 1rem;
  text-align: left;
}

thead th {
  position: sticky;
  top: 0;
  left: 0;
  background-color: var(--color-menu-hover);
  cursor: pointer;
  text-transform: capitalize;
}

tbody tr:nth-child(even) {
  background-color: #0000000b;
}

tbody tr {
  --delay: 0.1s;
  transition: 0.5s ease-in-out var(--delay), background-color 0s;
}

tbody tr.hide {
  opacity: 0;
  transform: translateX(100%);
}

tbody tr:hover {
  background-color: var(--color-input-add) !important;
}

tbody tr td,
tbody tr td p,
tbody tr td img {
  transition: 0.2s ease-in-out;
}

tbody tr.hide td,
tbody tr.hide td p {
  padding: 0;
  font: 0 / 0 sans-serif;
  transition: 0.2s ease-in-out 0.5s;
}

tbody tr.hide td img {
  width: 0;
  height: 0;
  transition: 0.2s ease-in-out 0.5s;
}

@media (max-width: 1000px) {
  td:not(:first-of-type) {
    min-width: 12.1rem;
  }
}

thead th span.icon-arrow {
  display: inline-block;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  border: 1.4px solid transparent;

  text-align: center;
  font-size: 1rem;

  margin-left: 0.5rem;
  transition: 0.2s ease-in-out;
}

thead th:hover span.icon-arrow {
  border: 1.4px solid #6c00bd;
}

thead th:hover {
  color: #6c00bd;
}

thead th.active span.icon-arrow {
  background-color: #6c00bd;
  color: #fff;
}

thead th.asc span.icon-arrow {
  transform: rotate(180deg);
}

thead th.active,
tbody td.active {
  color: #6c00bd;
}

.export__file {
  position: relative;
}

.export__file .export__file-btn {
  display: inline-block;
  margin-right: 10px;
  padding-right: 10px;
  width: 2rem;
  height: 2rem;
  background: var(--color-cebra)
    url(/frontend/aseets/icons/file-earmark-arrow-down.svg) center / 60%
    no-repeat;
  border-radius: 50%;
  transition: 0.2s ease-in-out;
}

.export__file .export__file-btn:hover {
  background-color: var(--color-input-add);
  transform: scale(1.15);
  cursor: pointer;
}

.export__file input {
  display: none;
}

.export__file .export__file-options {
  position: absolute;
  right: 0;

  width: 12rem;
  border-radius: 0.5rem;
  overflow: hidden;
  text-align: center;

  opacity: 0;
  transform: scale(0.8);
  transform-origin: top right;

  box-shadow: 0 0.2rem 0.5rem #0004;

  transition: 0.2s;
}

.export__file input:checked + .export__file-options {
  opacity: 1;
  transform: scale(1);
  z-index: 100;
}

.export__file .export__file-options label {
  display: block;
  width: 100%;
  padding: 0.6rem 0;
  background-color: #f2f2f2;

  display: flex;
  justify-content: space-around;
  align-items: center;

  transition: 0.2s ease-in-out;
}

.export__file .export__file-options label:first-of-type {
  padding: 1rem 0;
  background-color: #86d1e4 !important;
}

.export__file .export__file-options label:hover {
  transform: scale(1.05);
  background-color: #fff;
  cursor: pointer;
}

.export__file .export__file-options img {
  width: 2rem;
  height: auto;
}

.table__body td .acciones-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table__body td .acciones-container a {
  margin-right: 5px; /* el margen entre los botones  */
}

/* Formulario */

.container {
  color: var(--color-texto);
  max-width: 700px;
  margin-top: 4%;
  margin-bottom: 2%;
  margin-left: 16%;
  margin-right: auto;
  width: 80vw;
  background: var(--color-barra-lateral);
  padding: 25px 30px;
  border-radius: 15px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.container .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}

.container .title::before {
  position: absolute;
  content: "";
  height: 0.8px;
  width: 100%;
  top: 35px;
  right: 0;
  left: 0;
  bottom: 0;
  border-radius: 5px;
  background: rgba(160, 160, 160, 0.629);
}

.container .content form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 12px 0 12px 0;
}

.container .content form .user-details .input-box {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}

.container .content form .user-details .input-box .details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.container .content form .user-details .input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.input-extr {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.container .content form .user-details .input-box input:not(:focus) {
  border-color: #a7a7a7;
}

.container .content form .user-details .input-box .input-extr:focus {
  border-color: #9b59b6;
}

.container .content form .user-details .input-box .input-extr:not(:focus) {
  border-color: #a7a7a7;
}

.container .content form .button {
  height: 45px;
}

.container .content form .button input {
  height: 100%;
  width: 40%;
  border-radius: 5px;
  outline: none;
  border: none;
  font-size: 18px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
  color: var(--color-barra-lateral);
  cursor: pointer;
  font-weight: 500;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

.container .content form .button button {
  height: 100%;
  width: 40%;
  border-radius: 5px;
  outline: none;
  border: none;
  font-size: 18px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
  color: var(--color-barra-lateral);
  cursor: pointer;
  font-weight: 500;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

.container .content form .button .button-grd:hover {
  background: linear-gradient(-135deg, #71b7e6, #5fb659);
}
.container .content form .button .button-can:hover {
  background: linear-gradient(-135deg, #71b7e6, #ad1f55);
}

.container .content form .button-container {
  display: flex;
  justify-content: space-between;
}

.container .content form .button-container .button {
  width: 48%; /* Ajusta el ancho */
}

.container .content form .button-container .button input {
  width: 100%;
}
.container .content form .button-container .button button {
  width: 100%;
}

@media (max-width: 584px) {
  .container {
    max-width: 100%;
  }

  .container .content form .user-details {
    max-height: 300px;
    overflow-y: scroll;
  }

  .container .content form .user-details::-webkit-scrollbar {
    display: none;
  }

  .container .content form .user-details .input-box {
    margin-bottom: 15px;
    width: 100%;
  }
}

@media (max-width: 459px) {
  .container .content form .gender-details .category {
    flex-direction: column;
  }
}

.table-pos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* paginacion */

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  gap: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.wrapper .btn {
  height: 35px;
  width: 35px;
  background: #f2f2f2;
  border: none;
  border-radius: 6px;
  font-size: 20px;
  color: #666;
  cursor: pointer;
  transition: 0.3s;
}

.wrapper .btn:hover {
  background: #20b9c48c;
  color: #fff;
}

.wrapper .btn:disabled {
  color: #b3b3b3;
  pointer-events: none;
}

.wrapper .btn i {
  pointer-events: none;
}

.wrapper .nums {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.wrapper .nums .num {
  text-decoration: none;
  height: 25px;
  width: 25px;
  background: #f2f2f2;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
  color: #666;
  cursor: pointer;
  transition: 0.3s;
}

.wrapper .nums .num.active,
.wrapper .nums .num:hover {
  background: #0b778c93;
  color: #fff;
}

.title-profile {
  margin: 15px;
  display: block;
}
